
.vs/ProyectoFinal/FileContentIndex/badd47c8-7fc8-4134-8100-5f57d584fb52.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/2374b0ce1b907275/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/184ecd02b2d6087c/APPLESTORE.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/6ccc3c3720ae5ea5/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/c8b9f3d70243dce/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/3a2358ef-30f9-4b39-8b44-c60ebec30d43.vsidx
.vs/ProyectoFinal/FileContentIndex/95546511-0614-4fec-aa9a-26276594ccef.vsidx
.vs/ProyectoFinal/FileContentIndex/b319c3db-2e01-472c-8b7f-624db4a46a33.vsidx
.vs/ProyectoFinal/FileContentIndex/bad87510-c1cb-4c17-b8b5-1fbab925e6d4.vsidx
.vs/ProyectoFinal/FileContentIndex/336568b2-2189-470a-b66b-b66352fe06b3.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/cda41c3c8def5099/317097742_PROYECTOFINAL_GPO7.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/232daf0f6ace3b11/317097742_PROYECTOFINAL_GPO7.ipch
.vs/ProyectoFinal/FileContentIndex/9abb6404-c3b1-4266-8c29-2a923fa0902f.vsidx
.vs/ProyectoFinal/FileContentIndex/b28036b3-832b-469c-b74b-6c92c067747a.vsidx
.vs/ProyectoFinal/FileContentIndex/d1274f07-746d-41c9-8220-9c106c200884.vsidx
.vs/ProyectoFinal/FileContentIndex/d74cf034-3378-4d59-b4de-777d20a1b579.vsidx
.vs/ProyectoFinal/FileContentIndex/f19f3901-f3a1-4257-aedd-c4983470237a.vsidx
.vs/ProyectoFinal/FileContentIndex/10f766ac-a497-45d2-804f-8cf6c7f999fe.vsidx
.vs/ProyectoFinal/FileContentIndex/0c20016e-86ab-4a08-a81f-f4245e855d0d.vsidx
.vs/ProyectoFinal/FileContentIndex/5dcfa96a-121a-4ae9-89e8-a9c942d0482e.vsidx
.vs/ProyectoFinal/FileContentIndex/d9f5c5c2-59da-4be8-8b03-183ce1554a5e.vsidx
.vs/ProyectoFinal/FileContentIndex/212d32f3-96ac-4ab2-82af-0a1b9f97e390.vsidx
.vs/ProyectoFinal/FileContentIndex/edd7a693-f0d7-4629-a532-788f4361f0c8.vsidx
.vs/ProyectoFinal/FileContentIndex/c756cc4e-f1e7-4cae-833c-c6f159148619.vsidx
.vs/ProyectoFinal/FileContentIndex/47858932-cb26-4149-a45c-024684d8e3db.vsidx
.vs/ProyectoFinal/FileContentIndex/53df917e-bad7-490c-8b87-42236cb2bc29.vsidx
.vs/ProyectoFinal/FileContentIndex/97b47bd1-077f-43f8-9e37-20d034591ecc.vsidx
.vs/ProyectoFinal/FileContentIndex/a0a1804f-6159-40d7-8e4b-2608bd24ed0c.vsidx
.vs/ProyectoFinal/FileContentIndex/0eb150f4-eafb-40bf-9206-e57309ff7dd2.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/2435da6dfecc8c93/317097742_PROYECTOFINAL_GPO7.ipch
.vs/ProyectoFinal/FileContentIndex/bf12dea7-5725-4cc6-ba2d-e27b991a422f.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/d5a38649a4648d13/317097742_PROYECTOFINAL_GPO7.ipch
.vs/ProyectoFinal/FileContentIndex/a0fdc131-ea9f-4ce4-8009-e614f51616c3.vsidx
.vs/ProyectoFinal/FileContentIndex/a2ddaee9-4c09-46ce-84da-08e2e500091b.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/799522b83846987/317097742_PROYECTOFINAL_GPO3.ipch
